/*
    This CSS Snippet should be imported on the appshell and all amp templates
    It is TRUELY global. Don't bloat it.

    1. Resets
    2. Fonts
    3. Layout
    4. Typography
    5. Form Basics
    6. Universal Tools
*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~
 O. Concept themes
~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* IMPORTANT - the body selector and opening/closing brackets are OUTSIDE the child replacement comments so that we can avoid having many duplicate body declaration blocks and reduce css char count.
The body selector actually is only here in override-css.css for formating purposes.
*/
body {
  /* Universal css header variables */
  --headHeight: 138px;

  /** childReplacement generalVar **/
  --fontMain: Effra, Arial Narrow, Arial, Helvetica, sans-serif;
  --fontDisplay: Termina Headline, Verdana, Geneva, sans-serif;
  --h2: 600 28px/1.21 var(--fontDisplay);
  --h3: 600 22px/1.22 var(--fontDisplay);
  --modalHeaderFont: 600 32px/1.2 var(--fontDisplay);
  --badgeBack: #002955; /* badge bcg color for plp, pdp photos and sliders on Home, PLP, PDP */

  /* TODO - refactor CSS variables into primary color and secondary colors */
  /* NOTE: Many of these variables are used in many places - be careful changing them */
  --priClr: #1377c9; /* from css_bbb */
  --ttClr: #6ab8ff; /* tooltip color */
  --headerClr: #1a4eac; /* header color */

  --btnLinkColor: var(--priClr);
  --linkColor: var(--priClr);
  --btnGreyDarkBorder: #8c8c8c;
  --btnGreyDarkColor: #595959;
  --btnBg: #1a4e8a;
  /* --boldBBBltBaby: 600; */
  --salePriceColor: #e00000;
  --bottomDockColor: #002855;
  /** end childReplacement generalVar **/

  /** childReplacement cssHeaderVariables **/
  --btnPri: #147bd1;
  --btnPriText: #fff;
  --hLinks: #1a4e8a;
  --hLinksSec: #1a4e8a;
  --hBackPri: #f8f8f8; /** #1a4e8a **/
  --hBackSec: #1a4e8a;
  --hRow1: 52px;
  --hRow2: 88px;
  --hRowPad: 4px;
  --logoWidth: 90px;
  --pencilBannerBack: #002855;
  --navV2HeadHeightOffset: 9px;
  --catNavTop: calc(var(--headHeight) + var(--pencilBannerHeight));
  --catNavTopHidePencil: var(--headHeight);
  --cartCountBg: #1377c9;
  --cartCountNum: #fff;
  --cartCountFont: 600 10px/10px monospace;
  --mixedBannerLink: #fff;
  /** end childReplacement cssHeaderVariables **/

  /** childReplacement cssSidebarVariables **/
  --weightMain: 300;
  --weightDisplay: 600;
  --weightHeavy: 600;
  --accent: #088000;
  --btnBorderRad: 4px;
  --btnLinkSize: 1rem;
  --btnLinkWeight: 600;
  --collectionSliderHt: 256px;
  --headerTxtTransform: lowercase;
  --fontLightSm: 300 14px/1.2 var(--fontMain);
  --menuHeader: 700 16px/1.25 var(--fontDisplay);
  --menuHeaderColor: #002855;
  --menuLight: 300 16px/1.2 var(--fontMain);
  --modalHeadSize: 30px; /* 30px on BBB, 27px on Baby */
  --nav1Color: var(----menuHeaderColor);
  --navItemFont: 300 14px/18px var(--fontMain);
  --navItemHeadingSize: inherit;
  --navItemHeadingTopBorder: none;
  --priceFont: 600 18px/1.29 var(--fontDisplay);
  --priceCarouselFont: 600 16px/1.2 var(--fontMain);
  --qTxt: 600 16px/1.2 var(--fontMain);
  --registryBtnMargin: initial;
  --scrollbarWidth: 100%;
  --txtXLrg: 22px; /* 22px BBB, 28px Baby */
  --txtLrg: 22px; /* 22px BBB, 24px Baby */
  --txtMLrg: 20px; /* 20px BBB, 18px Baby */
  --txtMed: 18px; /* 18px BBB, 16px Baby */
  --txtSm: 14px; /* 14px BBB, 12px Baby */
  --txtP: 16px; /* 16px BBB, 14px Baby */
  --pTxtLineHeight: 1.2; /* 1.2 BBB, 1.43 Baby */
  --txtTransform: lowercase;
  /* --fbtHeadFont: var(--weightDisplay) 18px/1.29 var(--fontMain); */
  --prodHighlightTxt: var(--weightDisplay) 12px/1.44 var(--fontDisplay);
  --pdpAttrColor: #39397e;
  /** end childReplacement cssSidebarVariables **/

  background: #fff;
  font: 16px/1.5 var(--fontMain);
  overflow-x: hidden;
  --cat-nav-heading-color: #595959;
}
