#mainSearch {
  background: var(--hBackPri);
  min-height: 52px;
}

/* search input box */
.searchInput.user-invalid.user-invalid {
  color: #000;
}
.searchInput::-webkit-search-cancel-button {
  display: none;
}
.searchInputClear {
  background: #d8d8d8;
  border-radius: 50%;
  height: 1rem;
  margin-top: -0.5rem;
  min-height: inherit;
  padding: 2px;
  right: 0.5rem;
  top: 50%;
  width: 1rem;
}

/* Cancel & submit */
/* .searchClose {
  height: 52px;
} */
.searchSubmit {
  border: none;
}
/* .searchSubmit:disabled {
  opacity: 1;
  background: none;
  color: initial;
  cursor: pointer;
} */

/* Search suggestions */
#searchSuggestions {
  margin-bottom: 1px;
}
.searchList {
  margin: 4px 20px 24px 20px;
}
/* Search suggestion Line items*/
.searchTitle,
.searchLink {
  padding: 10px 0;
}
.searchLink + .searchTitle {
  margin-top: 1rem;
}
.searchLink {
  border-bottom: 1px solid #d6d6d6;
}
.searchLink:nth-of-type(1n + 8) {
  display: none;
}
.navSearchHead {
  letter-spacing: 0.77px;
}

/* Autocomplete Scroll */

.tpScroll {
  overflow-y: auto;
  height: 100%;
}
